$main-font-color: white;
$sub-font-color: #B5B5B5;
$dark-font-color: #1E1E1E;
$input-font-color: #BABABA;

$highlight-color: #00FF66;

$form-color: #555555;

$main-gradient: linear-gradient(to right top, #242424, #333333, #434343, #535353, #646464);
$card-gradient: linear-gradient(to right top, #888888, #9f9f9f, #b7b7b7, #d0d0d0, #e9e9e9);

$base-size: 16;

$ex-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;